*{
    margin: 0;
    padding: 0px;
    
}
a{
   text-decoration: none;
   color: #000;
}
nav.nav-1{
    background-color: #efefef;

}
nav ul.menu li.menu-1:hover{
    background-color: yellow;
}
ul{
    list-style-type: none;

    
}
ul.menu li{
    display: inline;
    margin: 25px;
    height: 20px;
    
    
}
ul.menu li a{
    font-size: 19px;
}
li.menu-1{
    position: relative;
}
ul.menu-1-1  {
    position: absolute;
    text-align: center;
    font-size: 12px;
    background-color: rgba(249, 249, 249, 0.143);
    display: inline;
    top: 19px;
    right: -24px;
    box-shadow: 1px 1px 2px 1px;
    
}
ul.menu-1-1 li a{
    font-size: 17px;
    width: 20px;
}
ul.menu-1-1 li a:hover{
    background-color: aqua;
     
}
ul.menu-1-1{
    display: none;
}
li.menu-1:hover ul.menu-1-1{
   display: block;
   
}
.pictures{
    position: relative;
}
.ali{
    position: absolute;
    top: 6px;
    left: 0;
    width: 234px;
    height: 234px;
    border-radius: 100%;
}
/* div.jadid p:last-child{
    color: green;
}
.jadid :not(p){
    color: yellow;
} */
div.jadid :nth-child(5){
color: green;
background-color: red;

}